<?xml version="1.0" encoding="utf-8"?>
<LauncherSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MainExePath>C:\MuDev\Client\main.exe</MainExePath>
  <Hosts>
    <ServerHostSettings>
      <Description>BarnaMu</Description>
      <Address>192.168.1.52</Address>
      <Port>44405</Port>
    </ServerHostSettings>
  </Hosts>
  <AvailableResolutions>
    <ClientResolution>
      <Index>0</Index>
      <Caption>640x480</Caption>
    </ClientResolution>
    <ClientResolution>
      <Index>1</Index>
      <Caption>800x600</Caption>
    </ClientResolution>
    <ClientResolution>
      <Index>2</Index>
      <Caption>1024x768</Caption>
    </ClientResolution>
    <ClientResolution>
      <Index>3</Index>
      <Caption>1280x1024</Caption>
    </ClientResolution>
    <ClientResolution>
      <Index>4</Index>
      <Caption>1600x1200</Caption>
    </ClientResolution>
    <ClientResolution>
      <Index>5</Index>
      <Caption>1864x1400</Caption>
    </ClientResolution>
    <ClientResolution>
      <Index>6</Index>
      <Caption>1600x900</Caption>
    </ClientResolution>
    <ClientResolution>
      <Index>7</Index>
      <Caption>1600x1280</Caption>
    </ClientResolution>
    <ClientResolution>
      <Index>8</Index>
      <Caption>1680x1050</Caption>
    </ClientResolution>
    <ClientResolution>
      <Index>9</Index>
      <Caption>1920x1080</Caption>
    </ClientResolution>
    <ClientResolution>
      <Index>10</Index>
      <Caption>2560x1440</Caption>
    </ClientResolution>
  </AvailableResolutions>
</LauncherSettings>